<div style="height:300px;width=250px;overflow:auto;">
  <table border="1" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th></th>
        <th>Subzone Name</th>
        <th>Avg Rating</th>
        <th>Avg Num Reviews</th>
        <th>Num Restauarants</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>0</th>
        <td>GARDEN</td>
        <td>5.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>1</th>
        <td>KANGKAR</td>
        <td>5.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>2</th>
        <td>ADMIRALTY</td>
        <td>4.50</td>
        <td>7.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>3</th>
        <td>TUKANG</td>
        <td>4.50</td>
        <td>9.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>4</th>
        <td>WEST COAST</td>
        <td>4.50</td>
        <td>6.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>5</th>
        <td>TELOK BLANGAH RISE</td>
        <td>4.44</td>
        <td>8.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>6</th>
        <td>YIO CHU KANG WEST</td>
        <td>4.43</td>
        <td>3.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>7</th>
        <td>BUKIT BATOK SOUTH</td>
        <td>4.42</td>
        <td>4.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>8</th>
        <td>GOMBAK</td>
        <td>4.38</td>
        <td>6.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>9</th>
        <td>ONE TREE HILL</td>
        <td>4.33</td>
        <td>28.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>10</th>
        <td>NEE SOON</td>
        <td>4.33</td>
        <td>19.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>11</th>
        <td>DEPOT ROAD</td>
        <td>4.33</td>
        <td>3.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>12</th>
        <td>GEYLANG BAHRU</td>
        <td>4.29</td>
        <td>2.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>13</th>
        <td>WOODLANDS WEST</td>
        <td>4.28</td>
        <td>16.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>14</th>
        <td>BOON KENG</td>
        <td>4.25</td>
        <td>5.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>15</th>
        <td>MOUNT PLEASANT</td>
        <td>4.25</td>
        <td>18.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>16</th>
        <td>SUNGEI ROAD</td>
        <td>4.25</td>
        <td>14.0</td>
        <td>16</td>
      </tr>
      <tr>
        <th>17</th>
        <td>PASIR RIS WEST</td>
        <td>4.25</td>
        <td>3.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>18</th>
        <td>TOWNSVILLE</td>
        <td>4.23</td>
        <td>11.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>19</th>
        <td>NORTHLAND</td>
        <td>4.22</td>
        <td>2.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>20</th>
        <td>HOUGANG WEST</td>
        <td>4.21</td>
        <td>3.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>21</th>
        <td>FLORA DRIVE</td>
        <td>4.20</td>
        <td>18.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>22</th>
        <td>MAXWELL</td>
        <td>4.19</td>
        <td>13.0</td>
        <td>67</td>
      </tr>
      <tr>
        <th>23</th>
        <td>YISHUN EAST</td>
        <td>4.17</td>
        <td>3.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>24</th>
        <td>SENNETT</td>
        <td>4.17</td>
        <td>8.0</td>
        <td>18</td>
      </tr>
      <tr>
        <th>25</th>
        <td>LOYANG WEST</td>
        <td>4.17</td>
        <td>7.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>26</th>
        <td>HOUGANG EAST</td>
        <td>4.12</td>
        <td>5.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>27</th>
        <td>ORANGE GROVE</td>
        <td>4.12</td>
        <td>34.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>28</th>
        <td>DUNEARN</td>
        <td>4.12</td>
        <td>6.0</td>
        <td>16</td>
      </tr>
      <tr>
        <th>29</th>
        <td>HENDERSON HILL</td>
        <td>4.11</td>
        <td>4.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>30</th>
        <td>TELOK BLANGAH WAY</td>
        <td>4.10</td>
        <td>3.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>31</th>
        <td>LORONG 8 TOA PAYOH</td>
        <td>4.08</td>
        <td>44.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>32</th>
        <td>REDHILL</td>
        <td>4.06</td>
        <td>3.0</td>
        <td>24</td>
      </tr>
      <tr>
        <th>33</th>
        <td>MOUNT EMILY</td>
        <td>4.04</td>
        <td>26.0</td>
        <td>13</td>
      </tr>
      <tr>
        <th>34</th>
        <td>NICOLL</td>
        <td>4.01</td>
        <td>23.0</td>
        <td>62</td>
      </tr>
      <tr>
        <th>35</th>
        <td>ROCHOR CANAL</td>
        <td>4.00</td>
        <td>3.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>36</th>
        <td>PENG SIANG</td>
        <td>4.00</td>
        <td>4.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>37</th>
        <td>HILLCREST</td>
        <td>4.00</td>
        <td>46.0</td>
        <td>31</td>
      </tr>
      <tr>
        <th>38</th>
        <td>LORONG CHUAN</td>
        <td>4.00</td>
        <td>23.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>39</th>
        <td>TAMPINES NORTH</td>
        <td>4.00</td>
        <td>156.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>40</th>
        <td>WOODLEIGH</td>
        <td>4.00</td>
        <td>3.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>41</th>
        <td>LIM CHU KANG</td>
        <td>4.00</td>
        <td>29.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>42</th>
        <td>LIU FANG</td>
        <td>4.00</td>
        <td>14.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>43</th>
        <td>PANG SUA</td>
        <td>4.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>44</th>
        <td>SENJA</td>
        <td>4.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>45</th>
        <td>WOODGROVE</td>
        <td>4.00</td>
        <td>16.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>46</th>
        <td>MANDAI WEST</td>
        <td>4.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>47</th>
        <td>STRAITS VIEW</td>
        <td>4.00</td>
        <td>7.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>48</th>
        <td>SERANGOON NORTH</td>
        <td>4.00</td>
        <td>10.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>49</th>
        <td>SIGLAP</td>
        <td>4.00</td>
        <td>145.0</td>
        <td>32</td>
      </tr>
      <tr>
        <th>50</th>
        <td>UPPER PAYA LEBAR</td>
        <td>4.00</td>
        <td>6.0</td>
        <td>13</td>
      </tr>
      <tr>
        <th>51</th>
        <td>JURONG PORT</td>
        <td>4.00</td>
        <td>5.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>52</th>
        <td>BUKIT BATOK WEST</td>
        <td>4.00</td>
        <td>6.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>53</th>
        <td>YISHUN SOUTH</td>
        <td>4.00</td>
        <td>6.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>54</th>
        <td>BANGKIT</td>
        <td>4.00</td>
        <td>2.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>55</th>
        <td>TOA PAYOH WEST</td>
        <td>3.99</td>
        <td>5.0</td>
        <td>36</td>
      </tr>
      <tr>
        <th>56</th>
        <td>PEARL'S HILL</td>
        <td>3.99</td>
        <td>24.0</td>
        <td>35</td>
      </tr>
      <tr>
        <th>57</th>
        <td>CRAWFORD</td>
        <td>3.98</td>
        <td>17.0</td>
        <td>65</td>
      </tr>
      <tr>
        <th>58</th>
        <td>BRADDELL</td>
        <td>3.98</td>
        <td>7.0</td>
        <td>29</td>
      </tr>
      <tr>
        <th>59</th>
        <td>BEDOK SOUTH</td>
        <td>3.98</td>
        <td>5.0</td>
        <td>29</td>
      </tr>
      <tr>
        <th>60</th>
        <td>NEWTON CIRCUS</td>
        <td>3.98</td>
        <td>67.0</td>
        <td>25</td>
      </tr>
      <tr>
        <th>61</th>
        <td>CLEMENTI WEST</td>
        <td>3.98</td>
        <td>7.0</td>
        <td>21</td>
      </tr>
      <tr>
        <th>62</th>
        <td>COMMONWEALTH</td>
        <td>3.97</td>
        <td>10.0</td>
        <td>15</td>
      </tr>
      <tr>
        <th>63</th>
        <td>YUHUA WEST</td>
        <td>3.97</td>
        <td>7.0</td>
        <td>15</td>
      </tr>
      <tr>
        <th>64</th>
        <td>TIONG BAHRU</td>
        <td>3.96</td>
        <td>30.0</td>
        <td>111</td>
      </tr>
      <tr>
        <th>65</th>
        <td>CAIRNHILL</td>
        <td>3.96</td>
        <td>31.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>66</th>
        <td>KALLANG BAHRU</td>
        <td>3.96</td>
        <td>16.0</td>
        <td>24</td>
      </tr>
      <tr>
        <th>67</th>
        <td>CHINATOWN</td>
        <td>3.95</td>
        <td>44.0</td>
        <td>945</td>
      </tr>
      <tr>
        <th>68</th>
        <td>LITTLE INDIA</td>
        <td>3.95</td>
        <td>48.0</td>
        <td>147</td>
      </tr>
      <tr>
        <th>69</th>
        <td>PEOPLE'S PARK</td>
        <td>3.94</td>
        <td>7.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>70</th>
        <td>KEBUN BAHRU</td>
        <td>3.94</td>
        <td>6.0</td>
        <td>17</td>
      </tr>
      <tr>
        <th>71</th>
        <td>KAMPONG JAVA</td>
        <td>3.94</td>
        <td>29.0</td>
        <td>57</td>
      </tr>
      <tr>
        <th>72</th>
        <td>ALEXANDRA HILL</td>
        <td>3.94</td>
        <td>21.0</td>
        <td>70</td>
      </tr>
      <tr>
        <th>73</th>
        <td>CHOA CHU KANG CENTRAL</td>
        <td>3.93</td>
        <td>8.0</td>
        <td>22</td>
      </tr>
      <tr>
        <th>74</th>
        <td>MACPHERSON</td>
        <td>3.93</td>
        <td>7.0</td>
        <td>29</td>
      </tr>
      <tr>
        <th>75</th>
        <td>HONG KAH</td>
        <td>3.92</td>
        <td>2.0</td>
        <td>20</td>
      </tr>
      <tr>
        <th>76</th>
        <td>CHANGI WEST</td>
        <td>3.92</td>
        <td>17.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>77</th>
        <td>MANDAI ESTATE</td>
        <td>3.92</td>
        <td>6.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>78</th>
        <td>SEMBAWANG HILLS</td>
        <td>3.92</td>
        <td>13.0</td>
        <td>24</td>
      </tr>
      <tr>
        <th>79</th>
        <td>ALJUNIED</td>
        <td>3.91</td>
        <td>15.0</td>
        <td>192</td>
      </tr>
      <tr>
        <th>80</th>
        <td>CHANGI POINT</td>
        <td>3.91</td>
        <td>22.0</td>
        <td>79</td>
      </tr>
      <tr>
        <th>81</th>
        <td>CLEMENTI NORTH</td>
        <td>3.91</td>
        <td>7.0</td>
        <td>28</td>
      </tr>
      <tr>
        <th>82</th>
        <td>TAGORE</td>
        <td>3.90</td>
        <td>7.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>83</th>
        <td>UPPER THOMSON</td>
        <td>3.90</td>
        <td>21.0</td>
        <td>86</td>
      </tr>
      <tr>
        <th>84</th>
        <td>TELOK BLANGAH DRIVE</td>
        <td>3.89</td>
        <td>32.0</td>
        <td>23</td>
      </tr>
      <tr>
        <th>85</th>
        <td>FARRER PARK</td>
        <td>3.88</td>
        <td>71.0</td>
        <td>104</td>
      </tr>
      <tr>
        <th>86</th>
        <td>PEI CHUN</td>
        <td>3.88</td>
        <td>3.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>87</th>
        <td>CHATSWORTH</td>
        <td>3.88</td>
        <td>42.0</td>
        <td>40</td>
      </tr>
      <tr>
        <th>88</th>
        <td>BOON TECK</td>
        <td>3.88</td>
        <td>9.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>89</th>
        <td>SPRINGLEAF</td>
        <td>3.87</td>
        <td>6.0</td>
        <td>15</td>
      </tr>
      <tr>
        <th>90</th>
        <td>NASSIM</td>
        <td>3.86</td>
        <td>102.0</td>
        <td>55</td>
      </tr>
      <tr>
        <th>91</th>
        <td>PHILLIP</td>
        <td>3.86</td>
        <td>23.0</td>
        <td>22</td>
      </tr>
      <tr>
        <th>92</th>
        <td>SEMBAWANG CENTRAL</td>
        <td>3.86</td>
        <td>6.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>93</th>
        <td>TYERSALL</td>
        <td>3.86</td>
        <td>87.0</td>
        <td>46</td>
      </tr>
      <tr>
        <th>94</th>
        <td>KAMPONG UBI</td>
        <td>3.86</td>
        <td>12.0</td>
        <td>14</td>
      </tr>
      <tr>
        <th>95</th>
        <td>EVERTON PARK</td>
        <td>3.86</td>
        <td>10.0</td>
        <td>28</td>
      </tr>
      <tr>
        <th>96</th>
        <td>INSTITUTION HILL</td>
        <td>3.85</td>
        <td>42.0</td>
        <td>31</td>
      </tr>
      <tr>
        <th>97</th>
        <td>KEMBANGAN</td>
        <td>3.85</td>
        <td>11.0</td>
        <td>41</td>
      </tr>
      <tr>
        <th>98</th>
        <td>LAVENDER</td>
        <td>3.84</td>
        <td>32.0</td>
        <td>245</td>
      </tr>
      <tr>
        <th>99</th>
        <td>PORT</td>
        <td>3.84</td>
        <td>16.0</td>
        <td>19</td>
      </tr>
      <tr>
        <th>100</th>
        <td>SUNSET WAY</td>
        <td>3.84</td>
        <td>14.0</td>
        <td>19</td>
      </tr>
      <tr>
        <th>101</th>
        <td>GALI BATU</td>
        <td>3.83</td>
        <td>2.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>102</th>
        <td>COMPASSVALE</td>
        <td>3.83</td>
        <td>5.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>103</th>
        <td>JOO KOON</td>
        <td>3.83</td>
        <td>6.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>104</th>
        <td>MATILDA</td>
        <td>3.83</td>
        <td>5.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>105</th>
        <td>BUKIT HO SWEE</td>
        <td>3.83</td>
        <td>5.0</td>
        <td>26</td>
      </tr>
      <tr>
        <th>106</th>
        <td>KATONG</td>
        <td>3.83</td>
        <td>20.0</td>
        <td>187</td>
      </tr>
      <tr>
        <th>107</th>
        <td>DOVER</td>
        <td>3.82</td>
        <td>7.0</td>
        <td>17</td>
      </tr>
      <tr>
        <th>108</th>
        <td>YUHUA EAST</td>
        <td>3.82</td>
        <td>7.0</td>
        <td>17</td>
      </tr>
      <tr>
        <th>109</th>
        <td>TAMAN JURONG</td>
        <td>3.82</td>
        <td>5.0</td>
        <td>14</td>
      </tr>
      <tr>
        <th>110</th>
        <td>BOAT QUAY</td>
        <td>3.82</td>
        <td>40.0</td>
        <td>231</td>
      </tr>
      <tr>
        <th>111</th>
        <td>SHANGRI-LA</td>
        <td>3.82</td>
        <td>50.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>112</th>
        <td>MEI CHIN</td>
        <td>3.82</td>
        <td>8.0</td>
        <td>30</td>
      </tr>
      <tr>
        <th>113</th>
        <td>GOODWOOD PARK</td>
        <td>3.81</td>
        <td>71.0</td>
        <td>26</td>
      </tr>
      <tr>
        <th>114</th>
        <td>HONG KAH NORTH</td>
        <td>3.79</td>
        <td>3.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>115</th>
        <td>KAMPONG BUGIS</td>
        <td>3.79</td>
        <td>35.0</td>
        <td>19</td>
      </tr>
      <tr>
        <th>116</th>
        <td>SELEGIE</td>
        <td>3.79</td>
        <td>9.0</td>
        <td>45</td>
      </tr>
      <tr>
        <th>117</th>
        <td>RIDOUT</td>
        <td>3.79</td>
        <td>138.0</td>
        <td>103</td>
      </tr>
      <tr>
        <th>118</th>
        <td>HOLLAND ROAD</td>
        <td>3.78</td>
        <td>38.0</td>
        <td>40</td>
      </tr>
      <tr>
        <th>119</th>
        <td>CHINA SQUARE</td>
        <td>3.77</td>
        <td>20.0</td>
        <td>202</td>
      </tr>
      <tr>
        <th>120</th>
        <td>GEYLANG EAST</td>
        <td>3.77</td>
        <td>14.0</td>
        <td>177</td>
      </tr>
      <tr>
        <th>121</th>
        <td>BENDEMEER</td>
        <td>3.76</td>
        <td>11.0</td>
        <td>51</td>
      </tr>
      <tr>
        <th>122</th>
        <td>KENT RIDGE</td>
        <td>3.76</td>
        <td>14.0</td>
        <td>19</td>
      </tr>
      <tr>
        <th>123</th>
        <td>KAMPONG GLAM</td>
        <td>3.76</td>
        <td>53.0</td>
        <td>264</td>
      </tr>
      <tr>
        <th>124</th>
        <td>CLIFFORD PIER</td>
        <td>3.76</td>
        <td>135.0</td>
        <td>70</td>
      </tr>
      <tr>
        <th>125</th>
        <td>MOUNTBATTEN</td>
        <td>3.76</td>
        <td>21.0</td>
        <td>39</td>
      </tr>
      <tr>
        <th>126</th>
        <td>BEDOK NORTH</td>
        <td>3.75</td>
        <td>8.0</td>
        <td>182</td>
      </tr>
      <tr>
        <th>127</th>
        <td>SELETAR HILLS</td>
        <td>3.75</td>
        <td>10.0</td>
        <td>18</td>
      </tr>
      <tr>
        <th>128</th>
        <td>TUAS PROMENADE</td>
        <td>3.75</td>
        <td>28.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>129</th>
        <td>KALLANG WAY</td>
        <td>3.75</td>
        <td>8.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>130</th>
        <td>TANGLIN</td>
        <td>3.74</td>
        <td>112.0</td>
        <td>80</td>
      </tr>
      <tr>
        <th>131</th>
        <td>BOULEVARD</td>
        <td>3.74</td>
        <td>57.0</td>
        <td>667</td>
      </tr>
      <tr>
        <th>132</th>
        <td>GHIM MOH</td>
        <td>3.74</td>
        <td>8.0</td>
        <td>21</td>
      </tr>
      <tr>
        <th>133</th>
        <td>FRANKEL</td>
        <td>3.74</td>
        <td>17.0</td>
        <td>142</td>
      </tr>
      <tr>
        <th>134</th>
        <td>LORONG AH SOO</td>
        <td>3.73</td>
        <td>8.0</td>
        <td>75</td>
      </tr>
      <tr>
        <th>135</th>
        <td>MARYMOUNT</td>
        <td>3.73</td>
        <td>39.0</td>
        <td>15</td>
      </tr>
      <tr>
        <th>136</th>
        <td>FARRER COURT</td>
        <td>3.72</td>
        <td>14.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>137</th>
        <td>SWISS CLUB</td>
        <td>3.72</td>
        <td>36.0</td>
        <td>65</td>
      </tr>
      <tr>
        <th>138</th>
        <td>KAMPONG TIONG BAHRU</td>
        <td>3.71</td>
        <td>9.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>139</th>
        <td>BUKIT BATOK EAST</td>
        <td>3.71</td>
        <td>2.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>140</th>
        <td>BOON LAY PLACE</td>
        <td>3.71</td>
        <td>4.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>141</th>
        <td>BUGIS</td>
        <td>3.71</td>
        <td>40.0</td>
        <td>304</td>
      </tr>
      <tr>
        <th>142</th>
        <td>BAYFRONT SUBZONE</td>
        <td>3.71</td>
        <td>193.0</td>
        <td>101</td>
      </tr>
      <tr>
        <th>143</th>
        <td>CITY HALL</td>
        <td>3.71</td>
        <td>61.0</td>
        <td>410</td>
      </tr>
      <tr>
        <th>144</th>
        <td>ROBERTSON QUAY</td>
        <td>3.70</td>
        <td>60.0</td>
        <td>252</td>
      </tr>
      <tr>
        <th>145</th>
        <td>JOO SENG</td>
        <td>3.70</td>
        <td>22.0</td>
        <td>35</td>
      </tr>
      <tr>
        <th>146</th>
        <td>CHONG BOON</td>
        <td>3.70</td>
        <td>9.0</td>
        <td>20</td>
      </tr>
      <tr>
        <th>147</th>
        <td>VICTORIA</td>
        <td>3.70</td>
        <td>21.0</td>
        <td>195</td>
      </tr>
      <tr>
        <th>148</th>
        <td>INTERNATIONAL BUSINESS PARK</td>
        <td>3.70</td>
        <td>4.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>149</th>
        <td>ANSON</td>
        <td>3.70</td>
        <td>16.0</td>
        <td>76</td>
      </tr>
      <tr>
        <th>150</th>
        <td>BALESTIER</td>
        <td>3.69</td>
        <td>28.0</td>
        <td>117</td>
      </tr>
      <tr>
        <th>151</th>
        <td>FERNVALE</td>
        <td>3.69</td>
        <td>12.0</td>
        <td>37</td>
      </tr>
      <tr>
        <th>152</th>
        <td>CENTRAL SUBZONE</td>
        <td>3.69</td>
        <td>39.0</td>
        <td>140</td>
      </tr>
      <tr>
        <th>153</th>
        <td>CECIL</td>
        <td>3.68</td>
        <td>13.0</td>
        <td>95</td>
      </tr>
      <tr>
        <th>154</th>
        <td>BENCOOLEN</td>
        <td>3.67</td>
        <td>30.0</td>
        <td>132</td>
      </tr>
      <tr>
        <th>155</th>
        <td>CLEMENTI WOODS</td>
        <td>3.67</td>
        <td>10.0</td>
        <td>23</td>
      </tr>
      <tr>
        <th>156</th>
        <td>MARINE PARADE</td>
        <td>3.67</td>
        <td>21.0</td>
        <td>176</td>
      </tr>
      <tr>
        <th>157</th>
        <td>CORONATION ROAD</td>
        <td>3.67</td>
        <td>28.0</td>
        <td>32</td>
      </tr>
      <tr>
        <th>158</th>
        <td>CITY TERMINALS</td>
        <td>3.67</td>
        <td>24.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>159</th>
        <td>SEMBAWANG NORTH</td>
        <td>3.67</td>
        <td>5.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>160</th>
        <td>FORT CANNING</td>
        <td>3.67</td>
        <td>72.0</td>
        <td>12</td>
      </tr>
      <tr>
        <th>161</th>
        <td>BAYSHORE</td>
        <td>3.67</td>
        <td>87.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>162</th>
        <td>SERANGOON GARDEN</td>
        <td>3.66</td>
        <td>12.0</td>
        <td>86</td>
      </tr>
      <tr>
        <th>163</th>
        <td>TANJONG PAGAR</td>
        <td>3.66</td>
        <td>14.0</td>
        <td>153</td>
      </tr>
      <tr>
        <th>164</th>
        <td>ANAK BUKIT</td>
        <td>3.65</td>
        <td>8.0</td>
        <td>120</td>
      </tr>
      <tr>
        <th>165</th>
        <td>CHENG SAN</td>
        <td>3.65</td>
        <td>9.0</td>
        <td>13</td>
      </tr>
      <tr>
        <th>166</th>
        <td>SEMBAWANG STRAITS</td>
        <td>3.65</td>
        <td>11.0</td>
        <td>13</td>
      </tr>
      <tr>
        <th>167</th>
        <td>MARINA CENTRE</td>
        <td>3.64</td>
        <td>46.0</td>
        <td>504</td>
      </tr>
      <tr>
        <th>168</th>
        <td>BUKIT BATOK CENTRAL</td>
        <td>3.63</td>
        <td>3.0</td>
        <td>26</td>
      </tr>
      <tr>
        <th>169</th>
        <td>HILLVIEW</td>
        <td>3.62</td>
        <td>52.0</td>
        <td>24</td>
      </tr>
      <tr>
        <th>170</th>
        <td>MACKENZIE</td>
        <td>3.62</td>
        <td>9.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>171</th>
        <td>GREENWOOD PARK</td>
        <td>3.62</td>
        <td>4.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>172</th>
        <td>PASIR RIS CENTRAL</td>
        <td>3.62</td>
        <td>6.0</td>
        <td>37</td>
      </tr>
      <tr>
        <th>173</th>
        <td>CLARKE QUAY</td>
        <td>3.62</td>
        <td>64.0</td>
        <td>282</td>
      </tr>
      <tr>
        <th>174</th>
        <td>YISHUN WEST</td>
        <td>3.62</td>
        <td>3.0</td>
        <td>17</td>
      </tr>
      <tr>
        <th>175</th>
        <td>ULU PANDAN</td>
        <td>3.61</td>
        <td>8.0</td>
        <td>14</td>
      </tr>
      <tr>
        <th>176</th>
        <td>CLEMENTI CENTRAL</td>
        <td>3.60</td>
        <td>6.0</td>
        <td>86</td>
      </tr>
      <tr>
        <th>177</th>
        <td>PASIR PANJANG 1</td>
        <td>3.60</td>
        <td>7.0</td>
        <td>29</td>
      </tr>
      <tr>
        <th>178</th>
        <td>TEBAN GARDENS</td>
        <td>3.60</td>
        <td>6.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>179</th>
        <td>TANGLIN HALT</td>
        <td>3.60</td>
        <td>6.0</td>
        <td>10</td>
      </tr>
      <tr>
        <th>180</th>
        <td>LEONIE HILL</td>
        <td>3.60</td>
        <td>35.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>181</th>
        <td>PAYA LEBAR EAST</td>
        <td>3.60</td>
        <td>3.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>182</th>
        <td>SOMERSET</td>
        <td>3.59</td>
        <td>46.0</td>
        <td>454</td>
      </tr>
      <tr>
        <th>183</th>
        <td>TRAFALGAR</td>
        <td>3.59</td>
        <td>9.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>184</th>
        <td>MURAI</td>
        <td>3.59</td>
        <td>4.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>185</th>
        <td>TAI SENG</td>
        <td>3.59</td>
        <td>7.0</td>
        <td>22</td>
      </tr>
      <tr>
        <th>186</th>
        <td>MOULMEIN</td>
        <td>3.59</td>
        <td>17.0</td>
        <td>227</td>
      </tr>
      <tr>
        <th>187</th>
        <td>RAFFLES PLACE</td>
        <td>3.59</td>
        <td>21.0</td>
        <td>206</td>
      </tr>
      <tr>
        <th>188</th>
        <td>HOLLAND DRIVE</td>
        <td>3.59</td>
        <td>22.0</td>
        <td>128</td>
      </tr>
      <tr>
        <th>189</th>
        <td>FABER</td>
        <td>3.58</td>
        <td>7.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>190</th>
        <td>PASIR PANJANG 2</td>
        <td>3.58</td>
        <td>8.0</td>
        <td>80</td>
      </tr>
      <tr>
        <th>191</th>
        <td>ANG MO KIO TOWN CENTRE</td>
        <td>3.56</td>
        <td>4.0</td>
        <td>63</td>
      </tr>
      <tr>
        <th>192</th>
        <td>KIAN TECK</td>
        <td>3.55</td>
        <td>8.0</td>
        <td>10</td>
      </tr>
      <tr>
        <th>193</th>
        <td>SINGAPORE GENERAL HOSPITAL</td>
        <td>3.55</td>
        <td>23.0</td>
        <td>10</td>
      </tr>
      <tr>
        <th>194</th>
        <td>NATURE RESERVE</td>
        <td>3.55</td>
        <td>40.0</td>
        <td>20</td>
      </tr>
      <tr>
        <th>195</th>
        <td>ONE NORTH</td>
        <td>3.55</td>
        <td>12.0</td>
        <td>193</td>
      </tr>
      <tr>
        <th>196</th>
        <td>CHANGI AIRPORT</td>
        <td>3.55</td>
        <td>20.0</td>
        <td>165</td>
      </tr>
      <tr>
        <th>197</th>
        <td>LEEDON PARK</td>
        <td>3.54</td>
        <td>27.0</td>
        <td>23</td>
      </tr>
      <tr>
        <th>198</th>
        <td>MARITIME SQUARE</td>
        <td>3.53</td>
        <td>41.0</td>
        <td>230</td>
      </tr>
      <tr>
        <th>199</th>
        <td>PASIR RIS DRIVE</td>
        <td>3.53</td>
        <td>2.0</td>
        <td>16</td>
      </tr>
      <tr>
        <th>200</th>
        <td>BRAS BASAH</td>
        <td>3.53</td>
        <td>42.0</td>
        <td>59</td>
      </tr>
      <tr>
        <th>201</th>
        <td>PUNGGOL TOWN CENTRE</td>
        <td>3.52</td>
        <td>10.0</td>
        <td>41</td>
      </tr>
      <tr>
        <th>202</th>
        <td>JURONG GATEWAY</td>
        <td>3.52</td>
        <td>10.0</td>
        <td>151</td>
      </tr>
      <tr>
        <th>203</th>
        <td>TANJONG RHU</td>
        <td>3.52</td>
        <td>15.0</td>
        <td>71</td>
      </tr>
      <tr>
        <th>204</th>
        <td>SIMEI</td>
        <td>3.52</td>
        <td>5.0</td>
        <td>24</td>
      </tr>
      <tr>
        <th>205</th>
        <td>BISHAN EAST</td>
        <td>3.52</td>
        <td>7.0</td>
        <td>63</td>
      </tr>
      <tr>
        <th>206</th>
        <td>NATIONAL UNIVERSITY OF S'PORE</td>
        <td>3.51</td>
        <td>4.0</td>
        <td>42</td>
      </tr>
      <tr>
        <th>207</th>
        <td>FAJAR</td>
        <td>3.50</td>
        <td>3.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>208</th>
        <td>YIO CHU KANG EAST</td>
        <td>3.50</td>
        <td>7.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>209</th>
        <td>TENGEH</td>
        <td>3.50</td>
        <td>2.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>210</th>
        <td>BEDOK RESERVOIR</td>
        <td>3.50</td>
        <td>15.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>211</th>
        <td>KEAT HONG</td>
        <td>3.50</td>
        <td>5.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>212</th>
        <td>SEMBAWANG SPRINGS</td>
        <td>3.50</td>
        <td>9.0</td>
        <td>29</td>
      </tr>
      <tr>
        <th>213</th>
        <td>WOODLANDS REGIONAL CENTRE</td>
        <td>3.50</td>
        <td>7.0</td>
        <td>39</td>
      </tr>
      <tr>
        <th>214</th>
        <td>SAUJANA</td>
        <td>3.50</td>
        <td>2.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>215</th>
        <td>LAKESIDE (BUSINESS)</td>
        <td>3.50</td>
        <td>21.0</td>
        <td>10</td>
      </tr>
      <tr>
        <th>216</th>
        <td>TUAS BAY</td>
        <td>3.50</td>
        <td>3.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>217</th>
        <td>QUEENSWAY</td>
        <td>3.50</td>
        <td>3.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>218</th>
        <td>NORTH-EASTERN ISLANDS</td>
        <td>3.50</td>
        <td>4.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>219</th>
        <td>PAYA LEBAR NORTH</td>
        <td>3.50</td>
        <td>6.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>220</th>
        <td>TUAS VIEW</td>
        <td>3.50</td>
        <td>10.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>221</th>
        <td>NORTH COAST</td>
        <td>3.50</td>
        <td>7.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>222</th>
        <td>JURONG WEST CENTRAL</td>
        <td>3.49</td>
        <td>7.0</td>
        <td>94</td>
      </tr>
      <tr>
        <th>223</th>
        <td>TOA PAYOH CENTRAL</td>
        <td>3.49</td>
        <td>6.0</td>
        <td>73</td>
      </tr>
      <tr>
        <th>224</th>
        <td>TOH GUAN</td>
        <td>3.47</td>
        <td>8.0</td>
        <td>49</td>
      </tr>
      <tr>
        <th>225</th>
        <td>NORTHSHORE</td>
        <td>3.46</td>
        <td>15.0</td>
        <td>25</td>
      </tr>
      <tr>
        <th>226</th>
        <td>SERANGOON CENTRAL</td>
        <td>3.46</td>
        <td>9.0</td>
        <td>130</td>
      </tr>
      <tr>
        <th>227</th>
        <td>PASIR RIS PARK</td>
        <td>3.45</td>
        <td>9.0</td>
        <td>43</td>
      </tr>
      <tr>
        <th>228</th>
        <td>KOVAN</td>
        <td>3.45</td>
        <td>25.0</td>
        <td>21</td>
      </tr>
      <tr>
        <th>229</th>
        <td>SENTOSA</td>
        <td>3.45</td>
        <td>29.0</td>
        <td>115</td>
      </tr>
      <tr>
        <th>230</th>
        <td>BUKIT MERAH</td>
        <td>3.45</td>
        <td>10.0</td>
        <td>19</td>
      </tr>
      <tr>
        <th>231</th>
        <td>POTONG PASIR</td>
        <td>3.43</td>
        <td>3.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>232</th>
        <td>OXLEY</td>
        <td>3.42</td>
        <td>19.0</td>
        <td>26</td>
      </tr>
      <tr>
        <th>233</th>
        <td>JELEBU</td>
        <td>3.42</td>
        <td>7.0</td>
        <td>32</td>
      </tr>
      <tr>
        <th>234</th>
        <td>TAMPINES EAST</td>
        <td>3.42</td>
        <td>7.0</td>
        <td>153</td>
      </tr>
      <tr>
        <th>235</th>
        <td>TIONG BAHRU STATION</td>
        <td>3.42</td>
        <td>9.0</td>
        <td>50</td>
      </tr>
      <tr>
        <th>236</th>
        <td>RIVERVALE</td>
        <td>3.42</td>
        <td>4.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>237</th>
        <td>XILIN</td>
        <td>3.41</td>
        <td>9.0</td>
        <td>132</td>
      </tr>
      <tr>
        <th>238</th>
        <td>DHOBY GHAUT</td>
        <td>3.40</td>
        <td>27.0</td>
        <td>186</td>
      </tr>
      <tr>
        <th>239</th>
        <td>YIO CHU KANG</td>
        <td>3.40</td>
        <td>8.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>240</th>
        <td>ISTANA NEGARA</td>
        <td>3.40</td>
        <td>7.0</td>
        <td>5</td>
      </tr>
      <tr>
        <th>241</th>
        <td>MARINA SOUTH</td>
        <td>3.40</td>
        <td>56.0</td>
        <td>39</td>
      </tr>
      <tr>
        <th>242</th>
        <td>MARINA EAST</td>
        <td>3.33</td>
        <td>12.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>243</th>
        <td>THE WHARVES</td>
        <td>3.33</td>
        <td>4.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>244</th>
        <td>SENGKANG TOWN CENTRE</td>
        <td>3.32</td>
        <td>6.0</td>
        <td>39</td>
      </tr>
      <tr>
        <th>245</th>
        <td>YISHUN CENTRAL</td>
        <td>3.32</td>
        <td>3.0</td>
        <td>83</td>
      </tr>
      <tr>
        <th>246</th>
        <td>CENTRAL WATER CATCHMENT</td>
        <td>3.32</td>
        <td>24.0</td>
        <td>22</td>
      </tr>
      <tr>
        <th>247</th>
        <td>KHATIB</td>
        <td>3.32</td>
        <td>9.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>248</th>
        <td>EAST COAST</td>
        <td>3.31</td>
        <td>46.0</td>
        <td>32</td>
      </tr>
      <tr>
        <th>249</th>
        <td>TAMPINES WEST</td>
        <td>3.30</td>
        <td>4.0</td>
        <td>28</td>
      </tr>
      <tr>
        <th>250</th>
        <td>SELETAR AEROSPACE PARK</td>
        <td>3.30</td>
        <td>37.0</td>
        <td>10</td>
      </tr>
      <tr>
        <th>251</th>
        <td>TURF CLUB</td>
        <td>3.25</td>
        <td>8.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>252</th>
        <td>LOWER SELETAR</td>
        <td>3.25</td>
        <td>14.0</td>
        <td>4</td>
      </tr>
      <tr>
        <th>253</th>
        <td>PUNGGOL FIELD</td>
        <td>3.25</td>
        <td>23.0</td>
        <td>18</td>
      </tr>
      <tr>
        <th>254</th>
        <td>MARGARET DRIVE</td>
        <td>3.25</td>
        <td>7.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>255</th>
        <td>HOUGANG CENTRAL</td>
        <td>3.24</td>
        <td>5.0</td>
        <td>19</td>
      </tr>
      <tr>
        <th>256</th>
        <td>TECK WHYE</td>
        <td>3.23</td>
        <td>2.0</td>
        <td>11</td>
      </tr>
      <tr>
        <th>257</th>
        <td>YEW TEE</td>
        <td>3.17</td>
        <td>4.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>258</th>
        <td>LAKESIDE (LEISURE)</td>
        <td>3.17</td>
        <td>1.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>259</th>
        <td>TOH TUCK</td>
        <td>3.12</td>
        <td>7.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>260</th>
        <td>KAKI BUKIT</td>
        <td>3.11</td>
        <td>4.0</td>
        <td>9</td>
      </tr>
      <tr>
        <th>261</th>
        <td>YUNNAN</td>
        <td>3.08</td>
        <td>6.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>262</th>
        <td>KIM KEAT</td>
        <td>3.00</td>
        <td>5.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>263</th>
        <td>MONK'S HILL</td>
        <td>3.00</td>
        <td>16.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>264</th>
        <td>PASIR RIS WAFER FAB PARK</td>
        <td>3.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>265</th>
        <td>SENGKANG WEST</td>
        <td>3.00</td>
        <td>1.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>266</th>
        <td>SERANGOON NORTH IND ESTATE</td>
        <td>3.00</td>
        <td>2.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>267</th>
        <td>DAIRY FARM</td>
        <td>3.00</td>
        <td>8.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>268</th>
        <td>SINGAPORE POLYTECHNIC</td>
        <td>3.00</td>
        <td>3.0</td>
        <td>2</td>
      </tr>
      <tr>
        <th>269</th>
        <td>ALEXANDRA NORTH</td>
        <td>3.00</td>
        <td>13.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>270</th>
        <td>WATERWAY EAST</td>
        <td>2.93</td>
        <td>3.0</td>
        <td>7</td>
      </tr>
      <tr>
        <th>271</th>
        <td>ANCHORVALE</td>
        <td>2.92</td>
        <td>6.0</td>
        <td>6</td>
      </tr>
      <tr>
        <th>272</th>
        <td>WOODLANDS EAST</td>
        <td>2.88</td>
        <td>6.0</td>
        <td>8</td>
      </tr>
      <tr>
        <th>273</th>
        <td>SENOKO SOUTH</td>
        <td>2.67</td>
        <td>1.0</td>
        <td>3</td>
      </tr>
      <tr>
        <th>274</th>
        <td>MALCOLM</td>
        <td>2.50</td>
        <td>6.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>275</th>
        <td>WENYA</td>
        <td>2.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
      <tr>
        <th>276</th>
        <td>CLEANTECH</td>
        <td>2.00</td>
        <td>1.0</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>